*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.joke{
    height: 20vh;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    gap: 10px;
}

button{
    background-color: green;
    color: white;
    cursor: pointer;
    width: 140px;
    height: 30px;
}
